.form-gap {
    padding-top: 70px;
}
body{
    background: url("/assets/images/bg-image-small.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.panel, .panel-default{
   border-radius: 20px; 
}
.btn, .btn-lg, .btn-primary, .btn-block{
    background: rgb(255, 140, 0);
    border-radius: 10px;
    border: rgb(255, 140, 0);
    box-shadow: 0 0 5px black;
}
.btn:hover{
    background: rgb(255, 85, 0);
}
