.form-gap {
    padding-top: 70px;
}
body{
    background: url("arto-marttinen-K2K1Ec_51SA-unsplash copy.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.panel, .panel-default{
   border-radius: 20px; 
}
.btn, .btn-lg, .btn-primary, .btn-block{
    background: orange;
    border-radius: 10px;
    border: orange;
    box-shadow: 0 0 2px black;
}
